/* creating a variable (Global variable) */
/* :root{
    --dark-red:#cb0808;
} */
.container{
    border: 1px solid black;
    background-color: aqua;
    width: 500px;
    height: 800px;
    /* using global varible value here which is defined in root element */
    /* background-color: var(--dark-red); */

}

.box{
    border: 1px solid red;
    background-color: yellow;
    width: 100px;
    height: 100px;
    margin:5px;

    /* creating a variable (local variable) */
    --dark-red:#cb0808;
    color:var(--dark-red);
}

